/* Reset default margin, padding, and box-sizing */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Header styles */
.header {
    padding: 20px;
    font-family: sans-serif;
    background-color: rgb(160, 159, 158);
    position: sticky;
    top: 0;
    left: 0;
}

/* Logo image styles within the header */
.header img {
    width: 75px;
    height: 65px;
    float: left;
}

/* Navbar styles */
.navbar {
    text-align: right;
}

/* List item styles within the navbar */
ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

/* Anchor styles within list items */
ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
}

/* Hidden span element (used for responsive navigation) */
span {
    margin: 0px 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}


.container {
    clear: both;
}

.container div{
 width: 400px;
 height: 400px;
 border: 2px solid black;
}

/* Media query for screens with a maximum width of 700px */
@media (max-width: 700px) {
    /* Display the hidden span element */
    span {
        display: block;
    }
    
    /* Change list items to display block for vertical stacking */
    ul li {
        display: block;
    }
    
    /* Styles for the dropdown menu within the navbar */
    .navbar ul {
        display: none;
        position: absolute;
        top: 37px;
        left: 0;
        text-align: justify;
        margin-top: 40px;
        background-color: rgb(160, 159, 158);
        width: 100%;
    }
    
    /* Styles for list items within the dropdown menu */
    .navbar ul li {
        border-top: 1px solid gray;
        padding-top: 6px;
    }
}

/* Clear floats within the container */
